@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

iframe{
    display: block;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 140px;
}